@charset "UTF-8";
body {
  padding: 40px 20px;
  font-family: 'DM Sans', sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  width: 150px;
}

.header__title {
  font-size: 14px;
  font-weight: 500;
}

.filters__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.filters__navigation__tag {
  border-radius: 15px;
  border: solid 1px mako;
  font-size: 12px;
  padding: 3px 6px;
  margin: 3px;
}

.photographer {
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.photographer__img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.photographer__name {
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  margin: 10px 0px 0px 0px;
}

.photographer__localization {
  font-size: 13px;
  line-height: 16.93px;
  margin: 0;
}

.photographer__tagline {
  font-size: 10px;
  line-height: 13.02px;
  margin: 5px 0px;
}

.photographer__price {
  font-size: 11.72px;
  margin: 0px 0px 10px 0px;
}

.photographer__profile {
  text-decoration: none;
}

.photographer__tag {
  color: red;
}

.lightbox {
  animation: lightboxIn .5s;
  background-color: rgba(255, 253, 253, 0.9);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
 }

 .lightbox__container {
   align-items: center;
   display: flex;
   justify-content: center;
   margin-left: 50px;
   margin-right: 50px;
   min-height: 100vh;
   padding: 3rem;
 }

 .lightbox__container img {
   animation: lightboxIn .5s;
   height: auto;
   max-width: 100%;
 }

 .lightbox__next,
 .lightbox__previous {
   background: url(../assets/icons/arrow-right.svg) center center / 100% 100%;
   border: none;
   cursor: pointer;
   height: 100%;
   margin-top: -24px;
   position: fixed;
   right: 0;
   text-indent: -3000px;
   top: 0;
   width: 36px;
 }

 .lightbox__next:hover,
 .lightbox__previous:hover {
   opacity: 1;

 }

 .lightbox__previous {
   right: auto;
   left: 0;
   transform: rotate(180deg);
 }

 .lightbox__close {
   background: url(../assets/icons/cross.svg) center center / 100% 100% no-repeat;
   position: fixed;
   border: none;
   height: 40px;
   width: 40px;
   top: 20px;
   right: 20px;
   z-index: 12;
 }

 .lightbox button {
   cursor: pointer;
   opacity: .7;
   text-indent: -3000px;
   transition: opacity .3s;
 }

 .lightbox button:hover {
   opacity: 1;
 }

 .lightbox__loader {
  width: 40px;
  height: 40px;
  opacity: .4;
  background: url(../assets/icons/loader.svg) center center no-repeat

 }
 
 .lightbox.fadeOut {
   opacity: 0;
   transition: opacity ease-in-out .6;
 }

 @keyframes lightboxIn {
   from {opacity: 0;}
   to {opacity: 1}
 }



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a  {
  text-decoration: inherit;
  color: inherit;
}

.photographer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer-page__logo {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 150px;
}

.photographer-page__header {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.photographer-page__header__photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer-page__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.photographer-page__gallery__photography {
  height: 190px;
  object-fit: cover;
  width: 335px;
}
