/* The Modal (background) */
.modal {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: none;
  /* Hidden by default */
  height: 100%;
  /* Full height */
  left: 0;
  overflow: auto;
  /* Enable scroll if needed */
  position: fixed;
  /* Stay in place */
  top: 0;
  width: 100%;
  /* Full width */
  z-index: 1;
  /* Sit on top */
}

/* Modal Content */
.modal-content {
  background-color: #db8776;
  border: 1px solid #888;
  margin: auto;
  padding: 0rem 2rem 9rem 2rem;
  width: 80%;
}

.modal-form {
  padding: 1rem 0rem;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal-header-title {
  font-size: 36px;
  line-height: 46,87px;
}

.form-input {
  border-radius: 5px;
  border: none;
  height: 52px;
  width: 100%;
}

.form-input:focus {
  border: 1px solid red;
}

.form-text-area {
  height: 184px;
  border: none;
  border-radius: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 24px;
  font-weight: 400;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form-submit-button {
  background-color: #911C1C;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  width: 170px;
}

/* The Close Button */
.close {
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .modal {
    padding: 1rem 2rem;
  }
  .modal-content {
    padding: 1rem 2rem;
    margin: auto;
  }
  .modal-header-title {
    font-size: 64px;
  }
  .form-label {
    font-size: 36px;
    font-weight: 400;
  }
  .form-submit {
    justify-content: flex-start;
    padding-bottom: 3rem;
  }
  .form-submit-button {
    height: 69px;
    width: 170px;
  }
}

.photographer {
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
}

.photographer__img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  text-decoration: none;
  width: 200px;
}

.photographer__name {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  margin: 10px 0px 0px 0px;
  text-decoration: none !important;
}

.photographer__localization {
  color: #911c1c;
  font-size: 13px;
  line-height: 16.93px;
  margin: 0;
}

.photographer__tagline {
  font-size: 10px;
  line-height: 13.02px;
  margin: 5px 0px;
}

.photographer__price {
  color: #757575;
  font-size: 11.72px;
  margin: 0px 0px 10px 0px;
}

.photographer__taglist {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
}

.photographer__tag {
  border-radius: 11px;
  border: 1px solid #c4c4c4;
  color: #911c1c;
  padding: 0rem 0.5rem;
}

.lightbox {
  animation: lightboxIn 0.5s;
  background-color: rgba(255, 253, 253, 0.9);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lightbox__container {
  align-items: center;
  color: #911c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
  padding: 0rem;
  text-align: center;
}

.lightbox__container img,
.lightbox__container video {
  animation: lightboxIn 0.5s;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.lightbox__next,
.lightbox__previous {
  background: url(../assets/icons/arrow-right.svg) center center/100% 100%;
  border: none;
  cursor: pointer;
  height: 100%;
  margin: -22px 10px;
  position: fixed;
  right: 0;
  text-indent: -10000px;
  top: 0;
  width: 36px;
}

.lightbox__next:hover,
.lightbox__previous:hover {
  opacity: 1;
}

.lightbox__previous {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}

.lightbox__close {
  background: url(../assets/icons/cross.svg) center center/100% 100% no-repeat;
  border: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
  z-index: 12;
}

.lightbox button {
  cursor: pointer;
  opacity: 0.7;
  text-indent: -10000px;
  transition: opacity 0.3s;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__loader {
  background: url(../assets/icons/loader.svg) center center no-repeat;
  height: 40px;
  opacity: 0.4;
  width: 40px;
}

.lightbox.fadeOut {
  opacity: 0;
  transition: opacity ease-in-out 0.6;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .lightbox__container img,
  .lightbox__container video {
    height: 450px;
    width: 800px;
  }
}

@media (min-width: 992px) {
  .lightbox__container img,
  .lightbox__container video {
    height: 550px;
    width: 1000px;
  }
}

select {
  -moz-appearance: none;
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  height: 59px;
  padding: 0.2rem;
  margin-top: 2rem;
  width: 170px;
}

body {
  padding: 40px 10px;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem 0rem;
  grid-template-rows: repeat(2, 1fr);
}

.header__logo {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  width: 130px;
}

.header__title {
  color: #911c1c;
  font-size: 14px;
  font-weight: 500;
  grid-column: 2;
  margin: auto;
}

.header__filters {
  grid-column: span 2;
  grid-row: 2;
  margin: auto;
}

.header__filters__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.3rem;
  justify-content: center;
}

.header__filters__navigation__tag {
  border: 1px solid #c4c4c4;
  color: #911c1c;
  padding: 0rem 0.5rem;
  border-radius: 11px;
  font-size: 14px;
}

.header__filters__navigation__tag:hover {
  background-color: #911c1c;
  cursor: pointer;
  color: white;
}

@media (min-width: 768px) {
  .header__logo {
    width: 160px;
  }
  .header__title {
    font-size: 22px;
  }
  .photographer__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 992px) {
  .header {
    grid-template-columns: 0.5fr 2fr 0.8fr;
    grid-template-rows: 1fr;
  }
  .header__logo {
    width: 180px;
    grid-column: 1;
    margin: auto;
  }
  .header__title {
    grid-column: 3;
    margin: auto;
    font-size: 25px;
  }
  .header__filters {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
  }
  .photographer__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .banner {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .photographer__section {
    margin: auto;
  }
}

.photographer-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.photographer-page__logo {
  height: 37.5px;
  left: 20px;
  margin-bottom: 2rem;
  position: absolute;
  top: 40px;
  width: 150px;
}

.photographer-page__header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.photographer-page__header__content__title {
  color: #d3573c;
  font-size: 1.9rem;
  line-height: 1.8rem;
  margin: 0;
}

.photographer-page__header__content__localization {
  color: #911c1c;
  font-size: 14px;
  font-weight: bold;
  margin: 0.5rem 0rem;
}

.photographer-page__header__content__tagline {
  font-size: 14px;
  margin: 0;
  color: #525252;
}

.photographer-page__header__content__taglist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.photographer-page__header__content__tags {
  border-radius: 12px;
  border: 1px solid #c4c4c4;
  color: #911c1c;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0rem 0.5rem;
  text-decoration: none;
}

.photographer-page__header__photo {
  border-radius: 50%;
  height: 120px;
  object-fit: cover;
  width: 120px;
}

.photographer-page__gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.photographer-page__gallery__media {
  cursor: pointer;
  height: 190px;
  object-fit: cover;
  width: 335px;
}

.photographer-page__gallery__media:focus {
  border: 1px solid #911c1c;
}

.photographer-page__gallery__media__footer {
  display: flex;
  justify-content: space-between;
}

.photographer-page__gallery__media__footer__figcaption {
  margin-top: 1rem;
}

.photographer-page__gallery__media__footer__like-section {
  display: flex;
  flex-direction: row;
}

.photographer-page__gallery__media__footer__like-section-button {
  background: url(../../assets/icons/heart.svg) no-repeat center center;
  border: none;
  cursor: pointer;
  text-indent: -6000px;
  width: 2rem;
}

.photographer-page__contact__button {
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  bottom: 3.69%;
  color: white;
  cursor: pointer;
  font-size: 23, 44px;
  left: 27.47%;
  position: fixed;
  right: 27.2%;
  top: 92%;
  width: 170px;
}

.photographer-page__dropdown {
  display: none;
}

@media (min-width: 768px) {
  .photographer-page__gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .photographer-page__gallery__media {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .photographer-page {
    display: inline;
  }
  .photographer-page__header {
    background-color: #fafafa;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    padding: 3rem 2rem;
  }
  .photographer-page__header__content__title {
    font-size: 64px;
    line-height: 4rem;
    margin: 0rem;
  }
  .photographer-page__header__content__localization {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0.2rem;
  }
  .photographer-page__header__content__tagline {
    color: #525252;
    font-size: 18px;
    margin: 0 0.2rem;
  }
  .photographer-page__header__photo {
    justify-self: end;
    margin-right: 2rem;
    height: 200px;
    max-width: 200px;
    min-width: 200px;
    object-fit: cover;
  }
  .photographer-page__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  .photographer-page__gallery__card {
    width: 100%;
    height: 350px;
  }
  .photographer-page__gallery__media {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .photographer-page__contact__button {
    position: initial;
    height: 50px;
  }
  .photographer-page__contact__button:focus {
    border: 2px solid #d3573c;
  }
  .photographer-page__dropdown {
    display: inline;
    margin-bottom: 3rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
