ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: inherit
}

figure {
    margin: 0;
}

// Configure focus state !

.photographer:focus {
    outline: none;
    border: 2px solid $oldbrick;
    border-radius: 5px
}

.focus__element:focus {
    outline: none;
    border: 2px $oldbrick;
    border-radius: 5px
}

.focus__element-secondary:focus {
    outline: none;
    border: 2px solid $flamepea;
    border-radius: 5px
}


