.photographer-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	&__logo {
		height: 37.5px;
		left: 20px;
		margin-bottom: 2rem;
		position: absolute;
		top: 40px;
		width: 150px;
	}
	&__header {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		margin-top: 1.5rem;
		&__content {
			&__title {
				color: $flamepea;
				font-size: 1.9rem;
				line-height: 1.8rem;
				margin: 0;
			}
			&__localization {
				color: $oldbrick;
				font-size: 14px;
				font-weight: bold;
				margin: 0.5rem 0rem;
			}
			&__tagline {
				font-size: 14px;
				margin: 0;
				color: #525252;
			}
		}
		&__photo {
			border-radius: 50%;
			height: 120px;
			max-width: 120px;
			min-width: 120px;
			object-fit: cover;
		}
	}
	&__gallery {
		display: grid;
		grid-template-columns: 1fr;
		&__media {
			height: 190px;
			object-fit: cover;
			width: 335px;
			&__footer {
				display: flex;
				justify-content: space-between;
				&__like-section {
					display: flex;
					flex-direction: row;
					&-button {
						background: url(../../assets/icons/heart.svg) no-repeat center center;
						border: none;
						cursor: pointer;
						text-indent: -3000px;
						width: 2rem;
					}
				}
			}
		}
	}
}
