.photographer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        position: absolute;
        left: 20px;
        top: 40px;
        width: 150px;
    }
    &__header { 
        display: flex;
        justify-content: space-between;
        height: 200px;

        &__photo {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        &__photography {
            height: 190px;
            object-fit: cover;
            width: 335px;
        }

    }
}