body {
    padding: 40px 10px;
    font-family: 'DM Sans', sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    &__logo {
        width: 150px;
    }
    &__title {
        font-size: 14px;
        font-weight: 500;

    }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .photographer {
        &__section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
        }
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}