body {
    padding: 40px 20px;
    font-family: 'DM Sans', sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    &__logo {
        width: 150px;
    }
    &__title {
        font-size: 14px;
        font-weight: 500;

    }
}
