.filters {
    &__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 0.5rem 0.3rem;
        &__tag {
		    border: 1px solid $silver;
		    color: $oldbrick;
		    padding: 0rem 0.5rem;
            border-radius: 11px;
            font-size: 14px;
            
        }
    }
}