.filters {
    &__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        &__tag {
            border-radius: 15px;
            border: solid 1px mako;
            font-size: 12px;
            padding: 3px 6px;
            margin: 3px;
        }
    }
}