.photographer {
	margin: 2rem 0rem 2rem 0rem;
	text-align: center;
	&__img {
		border-radius: 50%;
		height: 200px;
		object-fit: cover;
		text-decoration: none;
		width: 200px;
	}
	&__name {
		color: $flamepea;
		font-size: 36px;
		font-weight: 400;
		line-height: 46.87px;
		margin: 10px 0px 0px 0px;
		text-decoration: none !important;
	}
	&__localization {
		color: $oldbrick;
		font-size: 13px;
		line-height: 16.93px;
		margin: 0;
	}
	&__tagline {
		font-size: 10px;
		line-height: 13.02px;
		margin: 5px 0px;
	}
	&__price {
		color: $boulder;
		font-size: 11.72px;
		margin: 0px 0px 10px 0px;
	}
	&__taglist {
		display: flex;
		gap: 0.2rem;
		justify-content: center;
	}
	&__tag {
		border-radius: 11px;
		border: 1px solid $silver;
		color: $oldbrick;
		padding: 0rem 0.5rem;
	}
}
